<div class="div-card">
  <mat-card>
    <div *ngIf="salvar==true">
      <mat-toolbar color="primary">Adicionar funcionário</mat-toolbar>
    </div>
    <div *ngIf="editar==true">
      <mat-toolbar color="primary">Editar funcionário</mat-toolbar>
    </div>
    <mat-card-content>
      <form [formGroup]="form" class="min-width">
        <mat-form-field appearance="fill" class="full-width">
          <input matInput type="text" placeholder="Nome" formControlName="nome">
          <mat-error *ngIf="form.invalid">Nome é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <input matInput placeholder="CPF" formControlName="cpf">
          <mat-error *ngIf="form.invalid">CPF é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <input matInput placeholder="RG" formControlName="rg">
          <mat-error *ngIf="form.invalid">RG é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <input matInput type="email" placeholder="Email" formControlName="email">
          <mat-error *ngIf="form.get('email')?.hasError('required')">Email é obrigatório</mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('email')">Email é inválido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <input matInput type="text" placeholder="Endereço" formControlName="endereco">
          <mat-error *ngIf="form.invalid">Endereço é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <input matInput type="number" placeholder="Salário" formControlName="salarioFunc">
          <mat-error *ngIf="form.invalid">Salário é obrigatório</mat-error>
        </mat-form-field>

      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="salvar==true">Salvar</button>
      <button mat-raised-button color="accent" (click)="onEdit()" *ngIf="editar==true">Editar</button>
      <button mat-raised-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
