<mat-toolbar color="primary">
  <a mat-button [routerLink]="'/'">RentAGame</a>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <a mat-button [routerLink]="'/jogos'">Jogos</a>
  <span class="spacer"></span>
  <a mat-button [routerLink]="'/clientes'">Clientes</a>
  <span class="spacer"></span>
  <a mat-button [routerLink]="'/funcionarios'">Funcionários</a>
  <span class="spacer"></span>
  <a mat-button [routerLink]="'/locacao/adicionar'">Locação</a>
  <span class="spacer"></span>
  <a mat-button [routerLink]="'/locacao/devolucao'">Devolução</a>
  <span class="spacer"></span>
</mat-toolbar>
<router-outlet></router-outlet>
